body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #240b87);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.container h1 {
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.container p {
  font-size: 24px;
  color: #ead8d8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: none;
  transition: background-color 0.3s ease;
}

.container a:hover {
  background-color: #e6e6e6;
}

header {
    background-color: #000000;
    background: linear-gradient(to bottom, #710fc2, #240b87);
    color: #000000;
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-size: 24px;
    margin: 0;
}

.main {
    padding: 20px;
    
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list li a {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #151111;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.link-list li a i {
    margin-right: 10px;
}

.link-list li a:hover {
    background-color: #b50003;
}
